[Desktop Entry]
Name=ownCloud
Name[ar]=ownCloud
Name[az]=ownCloud
Name[bg]=ownCloud
Name[ca]=ownCloud
Name[ca@valencia]=ownCloud
Name[cs]=ownCloud
Name[de]=ownCloud
Name[el]=ownCloud
Name[en_GB]=ownCloud
Name[es]=ownCloud
Name[eu]=ownCloud
Name[fi]=ownCloud
Name[fr]=ownCloud
Name[hu]=ownCloud
Name[ia]=ownCloud
Name[it]=ownCloud
Name[ka]=ownCloud
Name[ko]=ownCloud
Name[nl]=ownCloud
Name[nn]=ownCloud
Name[pa]=ownCloud
Name[pl]=ownCloud
Name[pt]=ownCloud
Name[pt_BR]=ownCloud
Name[ro]=ownCloud
Name[ru]=ownCloud
Name[sk]=ownCloud
Name[sl]=ownCloud
Name[sv]=ownCloud
Name[tr]=ownCloud
Name[uk]=ownCloud
Name[x-test]=xxownCloudxx
Name[zh_CN]=ownCloud
Comment=Use OwnCloud with KAccounts
Comment[ar]=استخدم ownCloud مع حساباتك
Comment[az]=OwnCloud'u KAccounts ilə istifadə etmək
Comment[bg]=Използване на OwnCloud с KAccounts
Comment[ca]=Usa ownCloud amb KAccounts
Comment[ca@valencia]=Utilitza ownCloud amb KAccounts
Comment[cs]=Použít ownCloud s KAccounts
Comment[da]=Brug OwnCloud med KAccounts
Comment[de]=OwnCloud mit KAccounts benutzen
Comment[el]=Χρήση OwnCloud με KAccounts
Comment[en_GB]=Use OwnCloud with KAccounts
Comment[es]=Usar OwnCloud con KAccounts
Comment[et]=OwnCloudi kasutamine KAccountsiga
Comment[eu]=Erabili OwnCloud KAccounts-ekin
Comment[fi]=Käytä Owncloudia KAccountsissa
Comment[fr]=Utiliser « Owncloud » avec KAccounts
Comment[gl]=Usar OwnCloud con KAccounts.
Comment[hi]=KAccounts के साथOwnCloud प्रयोग करें
Comment[hu]=OwnCloud használata a KAccounts-cal
Comment[ia]=Usa OwnCloud con KAccounts
Comment[it]=Usa OwnCloud con KAccounts
Comment[ka]=OwnCloud-ის KAccounts-თან ერთად გამოყენება
Comment[ko]=KAccounts에서 OwnCloud 사용하기
Comment[lt]=Naudoti OwnCloud su KAccounts
Comment[nl]=OwnCloud met KAccounts gebruiken
Comment[nn]=Bruk OwnCloud med KAccounts
Comment[pa]=KAccounts ਨਾਲ OwnCloud ਵਰਤੋਂ
Comment[pl]=Używaj ownCloud z KAccounts
Comment[pt]=Usar o OwnCloud com o KAccounts
Comment[pt_BR]=Usar OwnCloud com o KAccounts
Comment[ro]=Folosește OwnCloud cu KAccounts
Comment[ru]=Доступ к ownCloud посредством KAccounts
Comment[sk]=Použije účet OwnCloud s aplikáciou KAccounts
Comment[sl]=Uporabi OwnCloud s KAccounts
Comment[sr]=Користите Оунклауд са К‑налозима
Comment[sr@ijekavian]=Користите Оунклауд са К‑налозима
Comment[sr@ijekavianlatin]=Koristite ownCloud sa K‑nalozima
Comment[sr@latin]=Koristite ownCloud sa K‑nalozima
Comment[sv]=Använd ownCloud med Kaccounts
Comment[tr]=ownCloud'u KAccounts ile birlikte kullan
Comment[uk]=Використання OwnCloud з KAccounts
Comment[x-test]=xxUse OwnCloud with KAccountsxx
Comment[zh_CN]=通过 KAccounts 使用 OwnCloud
Comment[zh_TW]=以 KAccounts 使用 OwnCloud
Encoding=UTF-8
Type=Service
Icon=applications-internet
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-Name=owncloud_kaccounts_ui
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
