[Desktop Entry]
Name=OwnCloud KAccounts QML plugin
Name[ast]=Complementu QML de KAccounts d'ownCloud
Name[ca]=Connector OwnCloud en QML per a KAccounts
Name[ca@valencia]=Connector OwnCloud en QML per a KAccounts
Name[cs]=QML modul KAccounts pro OwnCloud
Name[da]=KAccounts-QML-plugin til OwnCloud
Name[de]=KAccounts-QML-Modul für OwnCloud
Name[el]=OwnCloud KAccounts QML πρόσθετο
Name[en_GB]=OwnCloud KAccounts QML plugin
Name[es]=Complemento QML de KAccounts para OwnCloud
Name[et]=KAccountsi OwnCloudi QML-plugin
Name[fi]=OwnCloudin KAccounts-QML-liitännäinen
Name[fr]=Module Owncloud pour KAccounts en QML
Name[gl]=Complemento QML de KAccounts de OwnCloud
Name[hu]=OwnCloud KAccounts QML-bővítmény
Name[ia]=OwnCloud KAccounts QML plugin
Name[it]=Estensione QML di KAccounts per OwnCloud
Name[ko]=OwnCloud KAccounts QML 플러그인
Name[nl]=OwnCloud KAccounts QML plug-in
Name[nn]=OwnCloud KAccounts QML-tillegg
Name[pl]=Wtyczka QML OwnCloud dla KAccounts
Name[pt]='Plugin' em QML do KAccounts para o OwnCloud
Name[pt_BR]=Plugin em QML do KAccounts para o OwnCloud
Name[ru]=Модуль настройки учётных записей OwnCloud
Name[sk]=OwnCloud KAccounts QML plugin
Name[sl]=Vstavek QML za KAccounts za OwnCloud
Name[sr]=КуМЛ прикључак К‑налога за Оунклауд
Name[sr@ijekavian]=КуМЛ прикључак К‑налога за Оунклауд
Name[sr@ijekavianlatin]=QML priključak K‑naloga za ownCloud
Name[sr@latin]=QML priključak K‑naloga za ownCloud
Name[sv]=OwnCloud QML-insticksprogram för konton
Name[tr]=ownCloud KAccounts QML eklentisi
Name[uk]=Додаток QML KAccounts OwnCloud
Name[x-test]=xxOwnCloud KAccounts QML pluginxx
Name[zh_CN]=OwnCloud KAccounts QML 插件
Name[zh_TW]=OwnCloud KAccounts QML 外掛程式
Comment=Use OwnCloud with KAccounts
Comment[ast]=Usa OwnCloud con KAccounts
Comment[ca]=Usa OwnCloud amb KAccounts
Comment[ca@valencia]=Usa OwnCloud amb KAccounts
Comment[cs]=Použít ownCloud s KAccounts
Comment[da]=Brug OwnCloud med KAccounts
Comment[de]=OwnCloud mit KAccounts benutzen
Comment[el]=Χρήση OwnCloud με KAccounts
Comment[en_GB]=Use OwnCloud with KAccounts
Comment[es]=Usar OwnCloud con KAccounts
Comment[fi]=Käytä Owncloudia KAccounts-ohjelmassa
Comment[fr]=Utiliser Owncloud avec KAccounts
Comment[it]=Usa OwnCloud con KAccounts
Comment[ko]=KAccounts에서 OwnCloud 사용하기
Comment[nl]=OwnCloud met KAccounts gebruiken
Comment[pl]=Używaj OwnCloud z KAccounts
Comment[pt]=Usar o OwnCloud com o KAccounts
Comment[pt_BR]=Usar OwnCloud com o KAccounts
Comment[ru]=Доступ к OwnCloud посредством KAccounts
Comment[sk]=Použiť OwnCloud s KAccounts
Comment[sr]=Користите Оунклауд са К‑налозима
Comment[sr@ijekavian]=Користите Оунклауд са К‑налозима
Comment[sr@ijekavianlatin]=Koristite ownCloud sa K‑nalozima
Comment[sr@latin]=Koristite ownCloud sa K‑nalozima
Comment[sv]=Använd OwnCloud för konton
Comment[tr]=ownCloud'u KAccounts ile birlikte kullan
Comment[uk]=Використання OwnCloud за допомогою KAccounts
Comment[x-test]=xxUse OwnCloud with KAccountsxx
Comment[zh_CN]=通过 KAccounts 使用 OwnCloud
Comment[zh_TW]=以 KAccounts 使用 OwnCloud
Encoding=UTF-8
Type=Service
Icon=applications-internet
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-Name=owncloud_kaccounts_ui
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
