[Desktop Entry]
Name=Nextcloud
Name[ca]=Nextcloud
Name[es]=Nextcloud
Name[et]=Nextcloud
Name[fr]=Nextcloud
Name[lt]=Nextcloud
Name[nl]=Nextcloud
Name[pt]=Nextcloud
Name[pt_BR]=Nextcloud
Name[sv]=Nextcloud
Name[uk]=Nextcloud
Name[x-test]=xxNextcloudxx
Name[zh_TW]=Nextcloud
Comment=Use Nextcloud with KAccounts
Comment[ca]=Usa Nextcloud amb KAccounts
Comment[es]=Usar Nextcloud con KAccounts
Comment[et]=Nextcloudi kasutamine KAccountsiga
Comment[fr]=Utiliser Nextcloud avec KAccounts
Comment[lt]=Naudoti Nextcoud su KAccounts
Comment[nl]=Nextcloud met KAccounts gebruiken
Comment[pt]=Usar a Nextcloud com o KAccounts
Comment[pt_BR]=Usar Nextcloud com o KAccounts
Comment[sv]=Använd Nextcloud med Kaccounts
Comment[uk]=Використання Nextcloud з KAccounts
Comment[x-test]=xxUse Nextcloud with KAccountsxx
Comment[zh_TW]=以 KAccounts 使用 Nextcloud
Encoding=UTF-8
Type=Service
Icon=applications-internet
X-KDE-PluginInfo-Author=Rituka Patwal
X-KDE-PluginInfo-Email=ritukapatwal21@gmail.com
X-KDE-PluginInfo-Name=nextcloud_kaccounts_ui
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
