[Desktop Entry]
Name=Nextcloud
Name[ast]=Nextcloud
Name[az]=Nextcloud
Name[ca]=Nextcloud
Name[ca@valencia]=Nextcloud
Name[cs]=NextCloud
Name[da]=Nextcloud
Name[de]=Nextcloud
Name[el]=Nextcloud
Name[en_GB]=Nextcloud
Name[es]=Nextcloud
Name[et]=Nextcloud
Name[eu]=Nextcloud
Name[fi]=Nextcloud
Name[fr]=Nextcloud
Name[gl]=Nextcloud
Name[hi]=Nextcloud
Name[hu]=Nextcloud
Name[ia]=Nextcloud
Name[it]=Nextcloud
Name[ko]=Nextcloud
Name[lt]=Nextcloud
Name[nl]=Nextcloud
Name[nn]=Nextcloud
Name[pl]=Nextcloud
Name[pt]=Nextcloud
Name[pt_BR]=Nextcloud
Name[ro]=Nextcloud
Name[ru]=Nextcloud
Name[sk]=Nextcloud
Name[sl]=Nextcloud
Name[sv]=Nextcloud
Name[uk]=Nextcloud
Name[x-test]=xxNextcloudxx
Name[zh_CN]=Nextcloud
Name[zh_TW]=Nextcloud
Comment=Use Nextcloud with KAccounts
Comment[ast]=Usa Nextcloud con KAccounts
Comment[az]=Nextcloud'u KAccounts ilə istifadə etmək
Comment[ca]=Usa Nextcloud amb KAccounts
Comment[ca@valencia]=Usa Nextcloud amb KAccounts
Comment[cs]=Použít NextCloud s KAccounts
Comment[da]=Brug NextCloud med KAccounts
Comment[de]=NextCloud mit KAccounts benutzen
Comment[el]=Χρήση Nextcloud με KAccounts
Comment[en_GB]=Use Nextcloud with KAccounts
Comment[es]=Usar Nextcloud con KAccounts
Comment[et]=Nextcloudi kasutamine KAccountsiga
Comment[eu]=Erabili NextCloud KAccounts-ekin
Comment[fi]=Käytä Nextcloudia KAccountsissa
Comment[fr]=Utiliser Nextcloud avec KAccounts
Comment[gl]=Usar Nextcloud con KAccounts
Comment[hi]=KAccounts के साथ Nextcloud प्रयोग करें
Comment[hu]=NextCloud használata a KAccounts-cal
Comment[ia]=Usa NextCloud con KAccounts
Comment[it]=Usa Nextcloud con KAccounts
Comment[ko]=KAccounts에서 Nextcloud 사용하기
Comment[lt]=Naudoti Nextcoud su KAccounts
Comment[nl]=Nextcloud met KAccounts gebruiken
Comment[nn]=Bruk Nextcloud med KAccounts
Comment[pl]=Używaj Nextcloud z KAccounts
Comment[pt]=Usar a Nextcloud com o KAccounts
Comment[pt_BR]=Usar Nextcloud com o KAccounts
Comment[ro]=Folosește Nextcloud cu KAccounts
Comment[ru]=Доступ к Nextcloud посредством KAccounts
Comment[sk]=Použije účet Nextcloud s aplikáciou KAccounts
Comment[sl]=Uporabi Nextcloud s KAccounts
Comment[sv]=Använd Nextcloud med Kaccounts
Comment[uk]=Використання Nextcloud з KAccounts
Comment[x-test]=xxUse Nextcloud with KAccountsxx
Comment[zh_CN]=通过 KAccounts 使用 Nextcloud
Comment[zh_TW]=以 KAccounts 使用 Nextcloud
Encoding=UTF-8
Type=Service
Icon=applications-internet
X-KDE-PluginInfo-Author=Rituka Patwal
X-KDE-PluginInfo-Email=ritukapatwal21@gmail.com
X-KDE-PluginInfo-Name=nextcloud_kaccounts_ui
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
