[Desktop Entry]
Name=NextCloud KAccounts QML plugin
Name[ca]=Connector NextCloud en QML per a KAccounts
Name[ca@valencia]=Connector NextCloud en QML per a KAccounts
Name[cs]=QML modul KAccounts pro NextCloud
Name[da]=KAccounts-QML-plugin til NextCloud
Name[de]=KAccounts-QML-Modul für NextCloud
Name[el]=NextCloud KAccounts QML πρόσθετο
Name[en_GB]=NextCloud KAccounts QML plugin
Name[es]=Complemento QML de KAccounts para NextCloud
Name[et]=KAccountsi NextCloudi QML-plugin
Name[eu]=NextCloud KAccounts QML plugina
Name[fi]=NextCloudin KAccounts-QML-liitännäinen
Name[fr]=Module Nextcloud pour KAccounts en QML
Name[gl]=Complemento QML de KAccounts de NextCloud
Name[hu]=NextCloud KAccounts QML-bővítmény
Name[ia]=NextCloud KAccounts QML plugin
Name[it]=Estensione QML di KAccounts per NextCloud
Name[ko]=NextCloud KAccounts QML 플러그인
Name[nl]=NextCloud KAccounts QML plug-in
Name[nn]=NextCloud KAccounts QML-tillegg
Name[pl]=Wtyczka QML NextCloud dla KAccounts
Name[pt]='Plugin' em QML do KAccounts para o NextCloud
Name[pt_BR]=Plugin em QML do KAccounts para o NextCloud
Name[ru]=Модуль настройки учётных записей NextCloud
Name[sk]=NextCloud KAccounts QML plugin
Name[sl]=Vstavek QML za KAccounts za NextCloud
Name[sr]=КуМЛ прикључак К‑налога за Оунклауд
Name[sr@ijekavian]=КуМЛ прикључак К‑налога за Оунклауд
Name[sr@ijekavianlatin]=QML priključak K‑naloga za nextCloud
Name[sr@latin]=QML priključak K‑naloga za nextCloud
Name[sv]=NextCloud QML-insticksprogram för konton
Name[tr]=nextCloud KAccounts QML eklentisi
Name[uk]=Додаток QML KAccounts NextCloud
Name[x-test]=xxNextCloud KAccounts QML pluginxx
Name[zh_CN]=NextCloud KAccounts QML 插件
Name[zh_TW]=NextCloud KAccounts QML 外掛程式
Comment=Use NextCloud with KAccounts
Comment[ca]=Usa NextCloud amb KAccounts
Comment[ca@valencia]=Usa NextCloud amb KAccounts
Comment[cs]=Použít nextCloud s KAccounts
Comment[da]=Brug NextCloud med KAccounts
Comment[de]=NextCloud mit KAccounts benutzen
Comment[el]=Χρήση NextCloud με KAccounts
Comment[en_GB]=Use NextCloud with KAccounts
Comment[es]=Usar NextCloud con KAccounts
Comment[eu]=Erabili NextCloud KAccounts-ekin
Comment[fi]=Käytä Nextcloudia KAccounts-ohjelmassa
Comment[fr]=Utiliser Nextcloud avec KAccounts
Comment[gl]=Usar NextCloud con KAccounts.
Comment[it]=Usa NextCloud con KAccounts
Comment[ko]=KAccounts에서 NextCloud 사용하기
Comment[nl]=NextCloud met KAccounts gebruiken
Comment[nn]=Bruk NextCloud med KAccounts
Comment[pl]=Używaj NextCloud z KAccounts
Comment[pt]=Usar o NextCloud com o KAccounts
Comment[pt_BR]=Usar NextCloud com o KAccounts
Comment[ru]=Доступ к NextCloud посредством KAccounts
Comment[sk]=Použiť NextCloud s KAccounts
Comment[sl]=Uporabi NextCloud s KAccounts
Comment[sr]=Користите Оунклауд са К‑налозима
Comment[sr@ijekavian]=Користите Оунклауд са К‑налозима
Comment[sr@ijekavianlatin]=Koristite nextCloud sa K‑nalozima
Comment[sr@latin]=Koristite nextCloud sa K‑nalozima
Comment[sv]=Använd NextCloud för konton
Comment[tr]=nextCloud'u KAccounts ile birlikte kullan
Comment[uk]=Використання NextCloud за допомогою KAccounts
Comment[x-test]=xxUse NextCloud with KAccountsxx
Comment[zh_CN]=通过 KAccounts 使用 NextCloud
Comment[zh_TW]=以 KAccounts 使用 NextCloud
Encoding=UTF-8
Type=Service
Icon=applications-internet
X-KDE-PluginInfo-Author=Rituka Patwal
X-KDE-PluginInfo-Email=ritukapatwal21@gmail.com
X-KDE-PluginInfo-Name=nextcloud_kaccounts_ui
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
