<?xml version="1.0" encoding="UTF-8"?>
<service id="facebook-notifications">
  <type>facebook-notifications</type>
  <name>Notifications</name>
  <icon>facebook-notifications</icon>
  <provider>facebook</provider>
  <translations>kde-account-plugins</translations>
</service>