<?xml version="1.0" encoding="UTF-8"?>
<service id="google-calendar">
  <type>google-calendar</type>
  <name>Calendars and Tasks</name>
  <icon>google-calendars</icon>
  <provider>google</provider>
  <translations>kde-account-plugins</translations>
</service>
