<?xml version="1.0" encoding="UTF-8"?>
<service id="makeplaylive-bodega">
<type>market</type>
<name>Bodega</name>
<icon>bodega</icon>
<provider>makeplaylive</provider>
<translations>kde-account-plugins</translations>
</service>