<?xml version="1.0" encoding="UTF-8"?>
<service id="runnersid-contacts">
  <type>contacts</type>
  <name>Contacts</name>
  <icon>runnersid-contacts</icon>
  <provider>runnersid</provider>
  <translations>kde-account-plugins</translations>

  <template>
    <group name="dav">
      <setting name="path">/remote.php/carddav/</setting>
    </group>
  </template>
</service>