<?xml version="1.0" encoding="UTF-8"?>
<service id="twitter-microblog">
  <type>microblogging</type>
  <name>Twitter</name>
  <icon>twitter</icon>
  <provider>twitter</provider>
  <translations>kde-account-plugins</translations>
</service>